<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог задач - GoCode Challenge</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/catalog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">GoCode Challenge</div>
            <div class="menu">
                <a href="/Profile"><i class="fas fa-user"></i> Профиль</a>
                <a href="/Task"><i class="fas fa-tasks"></i> Задачи</a>
                <a href="/Resourses"><i class="fas fa-book"></i> Ресурсы</a>
                <a href="#contact"><i class="fas fa-envelope"></i> Контакты</a>
                <a href="#faq"><i class="fas fa-question-circle"></i> FAQ</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="header">Пора практиковаться!</div>
        <div class="content">
            <div class="filter">
                <h3>Фильтр задач</h3>
                <form id="filterForm" method="post" action="/Catalog">
                    <label for="difficulty">Сложность:</label>
                    <select id="difficulty" name="difficulty">
                        <option value="all">Все</option>
                        <option value="easy">Легкий</option>
                        <option value="medium">Средний</option>
                        <option value="hard">Сложный</option>
                    </select>

                    <label for="category">Категория:</label>
                    <select id="category" name="category">
                        <option value="all">Все</option>
                        <option value="algorithms">Алгоритмы</option>
                        <option value="data_structures">Структуры данных</option>
                        <option value="math">Математика</option>
                    </select>

                    <button type="submit" class="button">Поиск</button>
                </form>
            </div>
            <div class="task-catalog">
                <div class="task-item">
                    <h4>Название задачи 1</h4>
                    <p>Краткое описание задачи 1...</p>
                </div>
                <div class="task-item">
                    <h4>Название задачи 2</h4>
                    <p>Краткое описание задачи 2...</p>
                </div>
                <!-- Добавьте здесь дополнительные задачи -->
            </div>
        </div>
        <div class="footer">
            © 2024 GoCode Challenge. Все права защищены.
        </div>
    </div>
</body>

</html>

