<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoCode Challenge</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="header">GoCode Challenge</div>
        <div class="description">
            Добро пожаловать в GoCode Challenge - симулятор программирования на языке Go, где вы сможете развивать свои навыки, решать задачи и соревноваться с другими разработчиками!
        </div>
        <div class="buttons">
            <a href="/signup"><button class="button">Регистрация</button></a>
            <a href="/login"><button class="button">Вход</button></a>
        </div>
        <div class="footer">
            © 2024 GoCode Challenge. Все права защищены.
        </div>
    </div>
</body>
</html>
