<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoCode Challenge</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">GoCode Challenge</div>
            <div class="menu">
                <a href="/Profile">Профиль</a>
                <a href="/Task">Задачи</a>
                <a href="/Resourses">Ресурсы</a>
                <a href="#contact">Контакты</a>
                <a href="#contact">FAQ</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="section" id="about">
            <div class="header courier">Добро пожаловать в GoCode Challenge!</div>
            <div class="description">
                GoCode Challenge - это симулятор программирования на языке Go, где вы сможете развивать свои навыки, решать задачи и соревноваться с другими программистами!
            </div>
        </div>
        <div class="section" id="features">
            <div class="header courier">Наши возможности</div>
            <div class="description">
                <ul>
                    <li>Интересные уроки по Go</li>
                    <li>Различные задачи для решения</li>
                    <li>Соревнования с другими программистами</li>
                    <li>Отчеты о прогрессе</li>
                </ul>
            </div>
        </div>
        <div class="section" id="pricing">
            <div class="header courier">Цены</div>
            <div class="description">
                Мы предлагаем различные планы подписки, чтобы удовлетворить ваши потребности:
                <ul>
                    <li>Бесплатный план: доступ к базовым урокам и задачам</li>
                    <li>Премиум план: расширенные уроки, больше задач и соревнований</li>
                    <li>План для команд: совместная работа и соревнования для команд</li>
                </ul>
            </div>
        </div>
        <div class="section" id="contact">
            <div class="header courier">Контакты</div>
            <div class="description">
                Если у вас есть вопросы, вы можете связаться с нами по адресу электронной почты support@gocodechallenge.com или через наши социальные сети.
            </div>
        </div>
        <div class="footer courier">
            © 2024 GoCode Challenge. Все права защищены.
        </div>
    </div>
</body>
</html>
