<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация - GoCode Challenge</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/signup.css">

</head>
<body>
    <div class="container">
        <div class="header">Давай познакомимся?</div>
        <form class="form" action="/signup/step1" method="post">
            <input class="input" type="email" name="email" placeholder="Электронная почта" required>
            <input class="input" type="tel" name="phone" placeholder="Телефон" required>
            <input class="input" type="password" name="password" placeholder="Пароль" required>
            
            <button class="button" type="submit">Далее</button>
        </form>
        <div class="oauth">
            <span>или войдите с помощью:</span>
            <div>
                <img src="../static/assets/facebook.png" alt="Facebook">
                <img src="../static/assets/google.png" alt="Google">
                <img src="../static/assets/vk.png" alt="VK">
            </div>
        </div>
        <div class="footer">
            © 2024 GoCode Challenge. Все права защищены.
        </div>
    </div>
</body>
</html>
