<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решение задачи - GoCode Challenge</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/task.css">
    
</head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="/main">GoCode Challenge</a></div>
            <div class="menu">
                <a href="/profile"><i class="fas fa-user"></i> Профиль</a>
                <a href="/catalog"><i class="fas fa-tasks"></i> Задачи</a>
                <a href="/resourses"><i class="fas fa-book"></i> Ресурсы</a>
                <a href="#contact"><i class="fas fa-envelope"></i> Контакты</a>
                <a href="#faq"><i class="fas fa-question-circle"></i> FAQ</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="header">Название задачи</div>
        <div class="description">
            Описание задачи: Здесь будет описана задача, которую нужно решить. Убедитесь, что вы поняли все требования перед началом решения.
        </div>
        
            <textarea class="code-editor" placeholder="// Введите ваше решение на Go здесь..."></textarea>
            <div class="buttons">
                <button class="button" onclick="showResult()">Проверить решение</button>
                <!-- <button class="button" onclick="showOthers()">Другие решения</button> -->
        </div>
        <div id="result" class="footer">{{ .result }}</div>

        
    </div>
    <script>

        function showResult() {
            let code = document.querySelector(".code-editor").value;
            console.log(code)
            fetch('/Task', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({"verify_code": code})
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').textContent = 'Результат:\n' + data.message;
            });
        }
            
    </script>
</body>
</html>
