body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #333;
}

header {
    background-color: #ffffff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1em;
    transition: color 0.3s;
}

nav a:hover {
    color: #004d96;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px 20px; /* Отступ для фиксированного хедера */
    text-align: center;
}

.section {
    margin-bottom: 40px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.section .header {
    font-size: 2em;
    margin-bottom: 20px;
    color: #2575fc;
}

.section .description {
    font-size: 1em;
    color: #333333;
}

.section .description ul {
    list-style-type: none;
    padding: 0;
}

.section .description ul li {
    background: url('../static/assets/checkmark.png') no-repeat left center;
    background-size: 20px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.footer {
    font-size: 0.8em;
    color: #f0f0f0;
    margin-top: 20px;
    text-align: center;
}
